/* @import "header.css";
@import "footer.css"; */

* {
 /* border: lightgreen 1px solid; */
  font-family: Geneva, Tahoma, sans-serif; */
}

body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  /* padding: 50px 0;} */
}

header {
  display: flex;
  padding: 10px;
  /* margin: 10px; */
  background-color: darkgray; 
  color: white;
}

/* entire page */
main {
  background-color: #f0f0f0;
}

hr.fancyHR {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* container for all content  */
.contentContainer {
  padding: 10px;
}

.containerTop {
  padding: 10px;
  /* margin: 10px; */
}

.journalForm {
  display: flex;
  flex-direction: column;
}

#journalFields__title {
  width: 300px;
}

#journalFields__mood {
  width: 300px;
}

#journalFields__date {
  width: 300px;
}

#journalFields__entry {
  width: 400px;
}


#journalFields__button {
  width: 200px;
  text-align: center;
  background: gray;
  color: white;
  border: 0;
  margin-top: 5px;
  /* border-radius: 5px; */
}

#journalMood {
  /* width: 150px; */
}

.containerBottom {
  /* padding: 25px;
  margin: 10px; */
  /* background-color: red; */

}

.displayJournalEntry {
  font-size: 15px;
  background-color: lightgray;
  align-self: flex-end;
  text-align: center;
  /* width: 600px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* transition: 0.3s; */
  /* border-radius: 5px; */
}

.displayJournalEntry__entry{

}

footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  /* margin: 10px; */
}
