/* @import "header.css";
@import "footer.css"; */

* {
 /* border: lightgreen 1px solid; */
  font-family: Geneva, Tahoma, sans-serif; */
}

body {
  /* font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif; */
  /* padding: 50px 0;} */
}

header {
  display: flex;
  padding: 10px;
  /* margin: 10px; */
  background-color: darkgray; 
  color: white;
}

/* entire page */
main {
  background-color: #f0f0f0;
}

hr.fancyHR {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* container for all content  */
.contentContainer {
  padding: 10px;
}

.containerTop {
  padding: 10px;
  /* margin: 10px; */
}

.journalForm {
  display: flex;
  flex-direction: column;
  width:50%;
}

#journalFields__button  {
  width: 170px;
  text-align: center;
  background: gray;
  color: white;
  border: 0;
  margin-top: 5px;
  /* border-radius: 5px; */
}

.containerBottom {
background-color: lightgray;
padding:10px;
}

.displayJournalEntry {
  text-align: center;
  padding:0;
  margin:20;
}

.displayJournalEntry__p{
  margin:0px;
}

.displayJournalEntry__title{
  font-weight: bolder;
}

.displayJournalEntry__date{
  font-size: 12px;
}

.displayJournalEntry__mood{
  font-size: 12px;
}

.displayJournalEntry__entry{
  text-align: left;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  /* margin: 10px; */
}
